/*version - 2.0 */


body{
    margin: 0px;
    position: relative;
}

:root{
    --screen-size:750px;
}

::-webkit-scrollbar{
    background-color: rgb(0, 0, 0); 
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,blue);
    /* height: 5vh; */
    width: 12px;
    /* height: 10px; */
    border-radius: 6px;
}

/*---------------- general rule-------------------*/
section{
    min-height: 500px;
    padding-top: 0.01px;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 600px){
    section{
        min-height: 300px;
    }
}

section:nth-child(2n+1){
    background-color: #09071F;
}
section:nth-child(2n){
    background-color: #110E33;
}

/*------------ for section heading ---------------*/
.section-heading {
    /* position: relative;
    top: 40px; */
    text-align: center;
}
.section-heading div {
    color: white;
    font-size: 48px;
    /* display: inline-block; */
    width: auto;
    margin: auto;
}

@media screen and (max-width: 600px){
    .section-heading div{
        transform: scale(0.7);
    }
}


/*----------------end of general rule-------------------*/

/* ------------navigation sectoion --------------*/
#navigation{
    height: 50px;
    width: 100%;
    background-color:  #090424;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index:5;
    /* padding-top: 0.001px; */
}

#nav-bar-holder{
    height: 0px;
    overflow: hidden;
}

#nav-container{
    width: 70%;
    height: 70%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-container .nav-button a{
    text-decoration: none;
    color: white;
}

#nav-container .nav-button{
    background-color: transparent;
    width: auto;
    display: inline-block;
    padding: 3px;
    font-weight: 600;
    border-radius: 6px;
}

#nav-container .nav-button:hover{
    background-color: #0000ff66;
    transition: background-color 0.4s;
}   

#nav-container .nav-button a:hover{
    text-decoration: underline;
    transition: text-decoration 0.4s;
}

@media screen and (max-width: 700px){

    #nav-bar-holder{
        height: 50px;

    }

    #nav-logo{
        display: inline-block;
        position: fixed;
        right: 28px;
        top: 12px;
        font-size: 24px;
    }

    #nav-container{
        height: 0px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        /* width: 100%; */
        position: fixed;
        top: 50px;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        z-index:10;
        background-color: #020246;
        /* border-bottom-left-radius: 10px ;
        border-bottom-right-radius: 10px ; */
    }

    /* #nav-bar{
        height: 50px; 
        visibility: hidden;
    } */

    #navigation{
        display: block;
        overflow: hidden;
    }

    /* #nav-container:target{
        height: 300px;
        
        
        
    } */

    /* .test:target{
        position: fixed;
        top: 50px;
        z-index: 10;
        height: 300px;
        width: 100%;
        background-color: red;
    } */
}

/* -----------end of navigation sectoin------------ */

/* ---------------------header--------------------- */

#home-header{
    height: 450px;
    width: 100%;
    background-image: url("static/pexels-luis-gomes-546819.jpg");
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    /* justify-content: center; */
}

@media screen and (max-width:650px) {
    #home-header{
        height: 350px;
        background-size:cover;
    }
}

/*-----------name---------------*/
#home-header h1{
    color:white;
    letter-spacing: 4px;
    font-size: xxx-large;
    margin-bottom:10px;
}

@media  screen and (max-width: 650px) {
    #home-header h1{
        font-size:xx-large;
        margin-bottom: 15px;
    }
}

/* ----------social icon-----------*/
.social-link-container{
    height: auto;
    width: 30%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
}

.social-link-container img{
    height: 35px;
    padding: 0px;
    border-radius: 50%;
    
}

.social-link-container img:hover{
    box-shadow:0px 0px 6px 4px blue ;
    transition: box-shadow 0.4s;
}

@media screen and (max-width: 650px) {
    .social-link-container {
        width: 40%;
    }
    .social-link-container img{
        height: 25px;
    }
}

/*-----------end of social icon----------- */
/*---------------------end of header-------------------*/





/*------------------------ profile picture ------------*/
#profile-picture{
    height: 250px;
    /* position: absolute; */
    margin: auto;
    margin-top: -125px;
    margin-bottom: -125px;
    display: block;
    border-radius: 50%;
    /* box-shadow: 0px 0px 3px 4px white; */
}

@media screen and (max-width:650px){
    #profile-picture{
        transform: scale(0.7);
    }
}

/*----------- end of profile picture -----------------*/



/*------------- about section -----------------------*/
#about{
    box-sizing: border-box;
    padding-top: 125px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#about p{
    margin: auto;
    margin-top: 100px;
    width: 70%;
    /* color: #099FF4; */
    color: white;
    line-height: 40px;
    text-align: center;
    font-size: x-large;
}

@media screen and (max-width: 600px) {
    /* #about{
        padding-top: 70px;
    } */
    #about p{
        margin-top: 65px;
        font-size: larger;
    }
}
/*------------ end of about section--------------*/


/*------------skills section------------------*/

#skills{
    min-height: 400px;
}

#skill-container{
    height: auto;
    width: 60%;
    background-color: transparent;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.skill-indicator{
    box-sizing: border-box;
    height: 24px;
    width: 160px;
    /* padding: 2px 0px 2px 5px; */
    background-color: white;
    margin:20px 0px 20px 0px;
    /* z-index: 4; */
    /* border-top-left-radius: 14px;
    border-bottom-left-radius: 14px; */
    border-radius: 14px;
    overflow: hidden;
    margin-right: 40px;
}

@media screen and (max-width:650px) {
    .skill-indicator{
        margin-right: 10px;
    }
}

.skill-percentage{
    /* z-index: -1; */
    height: inherit;
    width: 70%;
    background: linear-gradient(180deg, #1330C3 0%, rgba(19, 184, 195, 0) 238.06%);
    transition: 1s ease-in-out 0s;
}

.skill-indicator span{
    position:relative;
    left: 8px;
    top: 2.5px;
    font-weight: 900;
    color: white;
}

/*------------end of skills section------------------*/

/*-------------education section-----------------------------*/
/* #education{
    height:530px;
} */



#edu-module-container{
    margin: auto;
    margin-top: 50px;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

#education a{
    display: inline-table;
    margin-bottom: 20px;
    height: 280px;
    width: 390px;
}



#jadavpur{
    height:inherit;
    width: inherit;
    border-radius: 30px;
    /* position: relative;
    top:40px;
    left: 150px; */
    background: linear-gradient(179.92deg, #EE3F3F 0.07%, rgba(63, 207, 238, 0) 104.57%);;
    position: relative;
    display: inline-block;
    transition: 0.4s ease-in-out;
}

#jadavpur:hover{
    box-shadow: 0px 0px 6px 4px red;
    transform: scale(1.1);
}

#jadavpur img{
    height: 80px;
    position: relative;
    top: 20px;
    left: 20px;
}

#jadavpur h3{
    color: white;
    position:absolute;
    top:4px;
    left:124px;
    font-size: 25px;
}

#jadavpur p{
    color: white;
    position: absolute;
    top: 46px;
    left: 126px;
    line-height: 24px;
}

@media screen and (max-width: 600px) {
    /* #jadavpur{
        transform: scale(0.6);
    }
    #jadavpur:hover{
        transform: scale(0.65);
    } */
    #education a{
        transform: scale(0.6);
    }
}


/*-------------end of education section-----------------------------*/


/*-------------portfolio section-----------------------------*/

#portfolio-container{
    height: auto;
    width: 70%;
    background-color: transparent;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width:600px) {
    #portfolio-container{
        width: 90%;
    }
}

.port-item{
    display: inline-block;
    height: 200px;
    width: 200px;
    /* background-color: green; */
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 24px;
    
    transition: 0.4s ease-in-out;
}

.port-item a{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.port-item:hover{
    transform: scale(1.1);
}

@media screen and (max-width:600px) {
    .port-item{
        transform: scale(0.65);
    }
    .port-item:hover{
        transform: scale(0.75);
    }
}

.port-item img{
    height: 90%;
    
}

#codeforces:hover{
    background-color: #000cf27a;
    transition: background-color 0.4s ease-in-out;
}

#leetcode:hover{
    background-color: #ffa5005c;
    transition: background-color 0.4s ease-in-out;
}

#google:hover{
    background-color: #00800063;
    transition: background-color 0.4s ease-in-out;
}
/*-------------end of portfolio section-----------------------------*/




/*-------------contact section-----------------------------*/

footer{
    /* height: 950px; */
    background:linear-gradient(235.01deg, #0B0979 2.51%, rgba(13, 12, 67, 0.85) 47.2%, rgba(11, 9, 90, 0.82) 102.77%);
    padding-top: 60px;
    padding-bottom: 60px;
    position: relative;
    height: auto;
}

#footer-container{
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer form{
    display: inline-block;
    width: 45%;
    min-width: 300px;
    background-color: transparent;
    margin-bottom: 25px;
    margin-right: 25px;
    position: relative;
    left: 30px;
    background-color: transparent;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer form input{
    margin-left: 0px;
    margin-bottom: 25px;
    border: 0px solid white;
    border-bottom-width: 3px;
    background-color: transparent;
    color: white;
    width: 70%;
    height: 30px;
    font-size: 32px;
}

footer form button{
    background-color: transparent;
    color: white;
    font-size: 28px;
    border: 3px solid white;
    /* position: relative;
    top: 38px;
    left: 234px; */
}

@media screen and (max-width: 700px){
    footer form button {
        transform: scale(0.7);
    }
    footer form input{
        height: 20px;
        width: 90%;
        font-size: 16px;
    }

    footer form{
        height: 260px;
        width: 300px;
    }
}

footer form button:active{
    color: black;
    border-color: black ;
    background-color: rgba(255, 255, 255, 0.689);
}

/*--------------------address------------------*/

#address{
    align-self: flex-end;
    color: white;
    font-size: 18px;
    display: inline-block;
    /* position: absolute;
    top:350px;
    right:50px; */
}

#link-holder{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

/* footer form textarea{
    margin-left: 80px;
    height: 30px;
    width: 250px;
    font-size:32px;
    background-color: transparent;
    border: 0 solid white;
    border-bottom-width: 3px;
} */
/*-------------end of contact section-----------------------------*/